:root {
  --pageW: 80vw;
  --pageH: 80vh;
  --border: 3px;
  --bg-c: #36393f;
  --c: #999999;
}

body {
  margin: 0;
  background-color: var(--bg-c);
  color: var(--c);
  cursor: context-menu;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.content {
  display: grid;
  grid-template-columns: calc((100vw - var(--pageW))/2) var(--pageW) calc((100vw - var(--pageW))/2);
  grid-template-rows: calc((100vh - var(--pageH))/2) var(--pageH) calc((100vh - var(--pageH))/2);
}

.dateFlex {
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 1;
}

.sectionContainer, .statContainer {
  grid-column-start: 2;
  grid-row-start: 2;

  border: var(--border) solid Black;
  background-color: #333333;

  
}
.sectionContainer {
  display: grid;
  grid-template-columns: repeat(2, calc(var(--pageW)/2 - var(--border)));
  grid-template-rows: repeat(2, calc(var(--pageH)/2 - var(--border)));
}

.section {
  box-sizing: border-box;
  padding: 10px;
}

#section-0 {
  grid-column-start: 1;
  grid-row-start: 1;
}
#section-1 {
  grid-column-start: 1;
  grid-row-start: 2;
}
#section-2 {
  grid-column-start: 2;
  grid-row-start: 1;
}
#section-3 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.lineDivider {
  position: absolute;
  left: calc(50% - 1px);
  height: calc(80vh - 2 * var(--border));
  width: 2px;
  background-color: black;
}

.routine, .stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stat {
  margin-top: 1.25vh;
  margin-left: 1.25vh;
  justify-content: flex-start
}

.flexStat {
  display: flex;
}

h1 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  margin: 0;
}

p {
  width: 150px;
  margin: 0;
}

input {
  background-color: var(--bg-c);
  color: var(--c);
  border: 1px solid black;
  border-radius: 5px;
}
input::placeholder {
  opacity: 0.6;
}

.success {
  color: green;
}
.failure {
  color: red;
}
.OK {
  color: #FFC300;
}

button {
  height: 1.5rem;
  width: 1.5rem;
  margin: 1px;
  border-radius: 50%;
  cursor: pointer;
  text-align: left;
  padding: 0;
  text-align: center;
}
button:hover {
  opacity: 0.8;
}
button.success {
  background-color: #c6f2b4;
  border: 2px solid green;
}
button.failure {
  background-color: #f2c2c1;
  border: 2px solid red;
}
button.OK {
  background-color: #ffffba;
  border: 2px solid #FFC300;
}

.comment {
  width: 160px;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.center input{
  width: 10vw;
  left: calc(50% - 5vw);
  position: absolute;
  text-align: center;
  margin-top: 5vh;
}

.small {
  margin: 0;
}